@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Song+Myung&display=swap');

/* body {
  background: #272525;
  color: #333;
  font-family:"Noto Sans KR"
}; */

/* App.css */

